.sections-wrapper{
	.sections-menu{
		padding: 0;
		margin: 0;
		list-style-type: none;
		li.lvl1{
			display: block;
			border: 1px solid #f2f2f2;
		    border-bottom-width: 0;
		    background: #f8f8f9;
		    position: relative;
		    transition: 0.3s;
		    .main-link{
				padding: 11px 31px 13px 17px;
				display: block;
				font-size: 14px;
				color: $standartcolor;
				transition: 0.3s;
				i{
					float: right;
					position: relative;
					top: 3px;
					font-size: 10px;
    				line-height: 16px;
				}
		    }		    	    
		}
		li:hover{
			background-color: #fff;
			.main-link{
				color: $sanigreen;
				i:before{
					color: $sanigreen;
				}
			}
		}
		li.lvl1:hover:before{
			content: "";
			display: block;
			position: absolute;
			left: 0;
			height: 100%;
			width: 3px;
			background-color: $sanigreen;
		}
		li.with-dropdown{
			.dropdown{
				padding: 15px 0 0 0;				
				z-index: 5;				
				position: absolute;
				background-color: #fff;
				left: calc(100% + 2px);
				top: 0;
				box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
				li{
					background: #fff;
					display: inline-block;
					padding: 5px 30px 20px 24px;
					width: 33%;
					a{
						display: block;
						transition: 0.3s;
						.section-name{
							font-size: 13px;
							line-height: 20px;
							font-weight: 700;
						}
						img{
							display: block;
							margin: auto;
						}
					}
				}
			}
		}
	}
}

.subscribe-catalog{
	background-color: $sanigreen;
	padding: 20px;
	margin-bottom: 15px;
	span{
		color: #fff;
		display: block;
	}
	.title{
		font-size: 1.143em;
    	font-weight: 700;
    	margin: 0 0 3px;
	}
	.subtitle{
		font-size: 13px;
		line-height: 16px;
		opacity: .8;
		margin: 0 0 6px;
	}
	input[type="email"]{
		border: 1px solid #eee;
	    line-height: 25px;
	    font-size: 13px;
	    background-color: #fff;
	    padding: 5px 43px 5px 13px;
	    width: 79%;
	}
	button[type="submit"] {
	    height: 37px;
	    width: 40px;
	    border: none;
	    position: relative;
	    top: 2px;
	    left: -5px;
	    background-color: #ececf2;
	    color: #fff;
	    font-size: 18px;
	    line-height: 11px;	    
	    border-radius: 2px;
	    cursor: pointer;	    
	    transition: 0.2s;
	    opacity: 0.8;
	}
	button[type="submit"]:hover{
		opacity: 1;
	}
}

.catalog-banner-wrapper{
	margin: 15px 0;
	img{
		max-width: 100%;
	}
}

.news-in-catalog{
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    margin: 0 0 30px;    
    .news-header{    	
    	margin-bottom: 20px;
    	padding: 13px 20px 0;
    	.title{
    		font-size: 1.143em;
    		color: #1d2029;
    		font-weight: 700;
    		text-align: left;
    	}
    	.all{
    		font-size: 1.143em;
    		color: #1d2029;
    		color: $sanigreen;
    		text-align: right;
    		transition: 0.3s;
    	}
    	.all:hover{
    		color: $standartcolor;
    	}
    }
    .news-item{ 
    	position: relative;   	
    	border-bottom: 1px solid #ebeef1;
    	padding: 13px 20px 0;
		.text{
			font-size: .929em;
			color: $standartcolor;
			display: block;
			line-height: 22px;
			padding-bottom: 19px;
			transition: 0.3s;
		}
		.date{
			color: #666;
			font-size: .929em;
			line-height: 20px;
			padding-top: 15px;
		}
    }
    .news-item:hover .text{
		color: $sanigreen;
    }
    .news-item:before{
    	content: "";
    	position: absolute;
    	height: 0;
    	width: 2px;
    	background-color: $sanigreen;
    	left: 0;
    	bottom: 0;
    	transition: height 0.5s;
    }
    .news-item:hover:before{
    	height: 100%;
    }
}