.detail-img{
	margin-bottom: 35px;
}

.introtext-wrap{
	.introtext{
		padding: 0 0 20px;
		color: #222;
		border-bottom: 2px solid $sanigreen;
		line-height: 1.6em;
		margin-bottom: 40px;
		position: relative;
	}
}

.content-detail.end{
	margin-bottom: 51px;
}