//footer
footer{
	background-color: #f6f6f7;
}
footer ul{
	padding: 0;
	margin: 0;
}
footer .gray-line{
	margin: 10px 0;
}
//viewed-products
.viewed-products{
	position: relative;
}
.viewed-products .section-title{
	font-size: 18px;
	color: $standartcolor;
	margin: 26px 0 4px;
	line-height: 30px;
	font-weight: 700;
	display: inline-block;
}
.viewed-products .owl-theme .owl-nav{
	display: inline-block;
	position: absolute;
	right: 0;
	top: -65px;
}
.viewed-products .viewed-products-slider{
	margin-top: 20px;
	padding-bottom: 50px;
}
.viewed-products .viewed-products-slider .item{
	background-color: #fff; 
	padding: 30px 0;
}
.viewed-products .viewed-products-slider .item .product-name{
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	display: block;		
	min-height: 45px;
	color: $standartcolor;
	transition: 0.2s;
}
.viewed-products .viewed-products-slider .item a:hover .product-name{
	color: $sanigreen;
}
.viewed-products .viewed-products-slider .item .price{
	line-height: 15px;
	font-weight: 700;
	font-size: 14px;
	color: $standartcolor;
}
.viewed-products .viewed-products-slider .item img{
	padding: 0 15px;	
}
.viewed-products .viewed-products-slider .owl-nav button{
	border: 1px solid #e5e5e5;
	border-radius: 2px 0 0 2px;
	width: 30px;
	height: 30px;
}
.viewed-products .viewed-products-slider .owl-nav button span{
	font-size: 35px;
	line-height: 20px;
}

// footer section
.footer{
	padding-top: 35px;
}
.footer .footer-menu{
	list-style-type: none;
}
.footer .contacts-wrapper{
	padding-left: 12%;
}
.footer .footer-menu li{
	margin-bottom: 6px;
}
.footer .footer-menu li.title, .footer .footer-title{
	margin-bottom: 12px;
}
.footer .footer-menu li.title a{	
	font-weight: 700;
}
.footer .footer-menu a{
	color: $standartcolor;
	transition: 0.2s;
	font-weight: 400;
	line-height: 18px;
	font-size: 16px;
}
.footer .footer-menu a:hover{
	color: $sanigreen;
}
.footer .footer-title{
	font-weight: 700;
	display: block;
	line-height: 18px;
	font-size: 16px;
	color: $standartcolor;
}
.footer .subscribe{
	margin-bottom: 25px;
}
.footer .subscribe input[type="email"]{
	border: 1px solid #eee;
	line-height: 30px;
	font-size: 13px;
	background-color: #fff;
	padding: 5px 43px 5px 13px; 
}
.footer .subscribe button[type="submit"]{
	height: 40px;
	width: 40px;
	border: none;
	position: relative;
	top: 3px;
	left: -5px;
	background-color: $sanigreen;
	color: #fff;
	font-size: 18px;
	line-height: 15px;
	border-radius: 2px;
	cursor: pointer;
	transition: 0.2s;
}
.footer .subscribe button[type="submit"] i:before{
	color: #fff;
}
.footer .subscribe button[type="submit"]:hover{
	background-color: rgba(93, 145, 57, 0.8);
}
.footer .socials{
	list-style-type: none;	
}
.footer .socials li{
	display: inline-block;
}
.footer .socials .socil-icon:hover{
	opacity: 0.8;
}
.footer .socials .socil-icon{
	border-radius: 100%;
	margin: 5px 10px 5px 0;
	display: block;
	height: 40px;
	position: relative;
	overflow: hidden;
	width: 40px;
	transition: 0.2s;
	background: url("../img/social.png");
	background-repeat: no-repeat;
}
.footer .socials .vk{
	background-position: -4px -4px;
}
.footer .socials .fb{
	background-position: -54px -4px;
}
.footer .socials .tw{
	background-position: -104px -4px;
}
.footer .socials .in{
	background-position: -154px -4px;
}
.footer .socials .you{
	background-position: -204px -4px;
}
.footer .socials .od{
	background-position: -254px -4px;
}
.footer .socials .g{
	background-position: -54px -54px;
}
.footer .socials .mailru{
	background-position: -4px -54px;
}
.footer .footer-contacts{
	padding-left: 25px;
}
.footer .footer-contacts .phone{
	position: relative;
}
.footer .footer-contacts .phone i{
	content: " ";
    display: block;
    width: 16px;
    height: 18px;
    position: absolute;
    top: 3px;
    left: -25px;   
}
.footer .footer-contacts i{
	content: " ";
    display: block;
    width: 16px;
    height: 18px;
    position: absolute;
    top: 3px;
    left: -25px;
}
.footer .footer-contacts a{
	color: $standartcolor;
	transition: 0.3s;	
}
.footer .footer-contacts a:hover{
	color: $sanigreen;
}
.footer .footer-contacts .phone{
	position: relative;
	max-width: 155px;
	margin-bottom: 20px;
	z-index: 5
}
.footer .footer-contacts .phone a{
	font-weight: 700;
}
.footer .footer-contacts .phone:hover .phones-dropdown{
	display: block;
}
.footer .footer-contacts .phones-dropdown{
	display: none;
	list-style-type: none;	
	background-color: #fff;
	position: absolute;
	left: -25px;
	width: 186px;
	bottom: -85px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
}
.footer .footer-contacts .phones-dropdown li{
	padding: 10px 22px;
	border-bottom: 1px solid #f2f2f2;
}
.footer .footer-contacts .phone.with-dropdown .dropdown{
	left: 0;
}
/*.footer .footer-contacts .phone .main-phone:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -2px;
    width: 5px;
    height: 3px;
    background: url("../img/next.png") -20px -333px no-repeat;
}*/
.footer .footer-contacts .footer-email, .footer .footer-contacts .footer-adress{
	position: relative;	
	margin-bottom: 20px;
}
.footer .copyrights{
	color: #888;
	font-size: 16px;
	padding: 30px 0;	
}
.footer .copyrights i{
    display: inline-block;
    height: 20px;
    width: 34px;
    background: url("../img/pay_icons.png") no-repeat;
    margin: 0 11px 9px 0;
}
.footer .copyrights i.cacsh {
    background-position: 0 -1px;
}
.footer .copyrights i.mastercard {
    background-position: -42px -1px;
}
.footer .copyrights i.visa {
    background-position: -89px -1px;
}
.footer .copyrights i.yandex_money {
    background-position: -142px -1px;
    width: 21px;
}
.footer .copyrights i.webmoney {
    background-position: -182px -1px;
    margin-right: 7px;
}
.footer .copyrights i.qiwi {
    background-position: -222px -1px;
    margin-right: 0;
}
.footer .copyrights i.sbrf {
    background-position: -259px -1px;
}
.footer .copyrights i.alfa {
    background-position: -305px -1px;
}
.footer .copyrights .pay-wrapper{
	text-align: right;
}

// basket
.basket-wrapper{
	transition: 0.5s;
	width: 800px;
    height: 100%;
    position: fixed;
    right: -800px;
    top: 0;
    background-color: #fff;
    z-index: 999;
    box-shadow: rgba(44,44,44,.4) 0 6px 18px;
    -moz-box-shadow: rgba(44,44,44,.4) 0 6px 18px;
    -webkit-box-shadow: rgba(44,44,44,.4) 0 6px 18px;
	.basket-header{
		border-bottom: 1px solid #f2f2f2;
		h3{
			padding-left: 35px;
		}
	}
	.empty-basket{
		img{
			display: block;
			margin: 30px auto;
			max-width: 120px;
		}
	}
	.table-wrapper{
		height: 68vh;
    	overflow-y: scroll;
    	border-bottom: 1px solid #e7e7e7;
		table{
			width: 100%;
			border-collapse: collapse;
			thead{	
				background-color: #f7f7f7;
				border-bottom: 1px solid #e7e7e7;				
				tr{					
					td{
						border: none;					
					    margin: 0;					  
					    padding: 8px 10px;					    
					}
					td.thumb-cell{
						padding: 11px 18px 10px 29px;
					}
					td.remove-cell{
						width: 20px;
					    padding-top: 5px;
					    padding-right: 5px;
					}
					td.quantity-th{
						text-align: center;
					}					
				}
			}
			tbody{	
				tr{
					border-bottom: 1px solid #e7e7e7;
				    position: relative;
				    height: 125px;
				    overflow: hidden; 
					td{
						position: relative;
						.td-content-wrapper{
							position: absolute;
							top: 20px;
						}
					}			
					td.thumb-cell{
						padding: 11px 30px 10px 29px;
					}
					td.name-cell{
						font-weight: 700;
						font-size: 14px;	
						a{
							max-width: 150px;
							display: block;
						}								
					}
					td.price{
						font-weight: 700;
						font-size: 14px;	
						.td-content-wrapper{
							top: 30px;
						}									
					}
					td.quantity{
						width: 130px;					
						.product_detail .buttons-block .quantity {
						    margin-right: 0;
						    display: inline-block;
						    position: relative;
						    float: none;
						}
						.product_detail .buttons-block{
							margin-top: 0;
						}
					}
					td.summ{
						font-weight: 700;
						font-size: 14px;
						.td-content-wrapper{
							top: 30px;
							left: 10px;
						}
					}
					td.wish{
						.td-content-wrapper{
							top: 30px;						
						}
					}
					td.delete{
						.td-content-wrapper{
							top: 30px;						
						}
					}
				}
			}
		}
	}
	.opener{
		position: absolute;
		left: -60px;
		top: 150px;
		width: 60px;
		background-color: #555;		
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		.opener-item{
			text-align: center;
			padding-bottom: 5px;
			.opener-item-icon-wrapper{
				display: block;
				text-align: center;
				padding: 15px 0 5px 0;
				i{
					font-size: 26px;					
				}
				i:before{
					color: #d1d1d1;
				}
			}
			.opener-item-counter{
				text-align: center;
				display: table-cell;
			    margin: 0 auto 0 auto;
			    color: #fff;
			    background-color: $sanigreen;
			    width: 25px;
			    height: 25px;
			    border-radius: 50%;
			    padding: 0px;
			    font-size: 15px;
			    vertical-align: middle;			    
			}
		}
		.opener-item.like{
			border-top: 1px solid #d1d1d1;
			border-bottom: 1px solid #d1d1d1;
		}
		.opener-item.basket{
			background-color: $sanigreen;
			.opener-item-counter{
				background-color: #555;
			}
		}
		.opener-item.like:hover, .opener-item.compare:hover{			
			background-color: #757575;			
		}
		.opener-item.basket:hover{
			background-color: $sanihovergreen;
		}
	}	
	.basket-footer{
		.summa{
			text-align: center;
			span{
				display: block;
				margin-top: 25px;
				font-size: 24px;
				font-weight: bold;
			}
		}
		.basket-footer-buttons{
			text-align: center;
			margin-top: 50px;
			span{
				color: #b3b3b3;
			    font-size: 14px;
			    margin-top: 10px;
			    width: 150px;
			    display: block;
			    margin: 15px auto;
			}
		}
	}
}