//footer
footer{
	background-color: #f6f6f7;
}
//viewed-products
.viewed-products{
	position: relative;
}
.viewed-products .section-title{
	font-size: 18px;
	color: #1d2029;
	margin: 26px 0 4px;
	line-height: 30px;
	font-weight: 700;
	display: inline-block;
}
.viewed-products .owl-theme .owl-nav{
	display: inline-block;
	position: absolute;
	right: 0;
	top: -65px;
}
.viewed-products .viewed-products-slider{
	margin-top: 20px;
	padding-bottom: 50px;
}
.viewed-products .viewed-products-slider .item{
	background-color: #fff; 
	padding: 30px 0;
}
.viewed-products .viewed-products-slider .item .product-name{
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	display: block;		
	min-height: 45px;
	color: #1d2029;
	transition: 0.5s;
}
/*.viewed-products .viewed-products-slider .item a:hover .product-name{
	color: 
}*/
.viewed-products .viewed-products-slider .item .price{
	line-height: 15px;
	font-weight: 700;
	font-size: 14px;
	color: #1d2029;
}
.viewed-products .viewed-products-slider .item img{
	padding: 0 15px;	
}
.viewed-products .viewed-products-slider .owl-nav button{
	border: 1px solid #e5e5e5;
	border-radius: 2px 0 0 2px;
	width: 30px;
	height: 30px;
}
.viewed-products .viewed-products-slider .owl-nav button span{
	font-size: 35px;
	line-height: 20px;
}

// footer section
.footer .footer-menu{
	list-style-type: none;
}
.footer .footer-menu li{
	margin-bottom: 6px;
}
.footer .footer-menu li.title{
	margin-bottom: 12px;
}
.footer .footer-menu li.title a{	
	font-weight: 700;
}
.footer .footer-menu a{
	color: #1d2029;
	transition: 0.5s;
	font-weight: 400;
	line-height: 18px;
	font-size: 16px;
}
/*.footer .footer-menu a:hover{
	color: 
}*/
