.topline{
	position: relative;
    background: 0 0;
    z-index: 13;
    border-bottom: 1px solid #f6f6f6;
    padding-top: 13px;
    padding-bottom: 13px;
	.region-wrap{
		position: relative;
		padding: 0 10px 0 20px;
		height: 18px;
		.current-city{
			font-size: .929em;
			span{
				color: $sanigreen;
			}
			&:before{
				content: "\f3c5";
				position: absolute;
				left: 0;
				top: 2px;
				width: 20px;
				height: 20px;
				padding: 2px 0;
			}
		}
	}

	.phone-wrap{
		padding-right: 12px;
		margin-left: 28px;
		&:before{
			content: '\f879';
			font-size: 0.8em;
		}
		.main-number{
			color: $standartcolor;
			font-weight: 700;
			font-size: .867em;
		}
	}

	.callback{
		display: block;
		margin-top: 2px;
		&:hover{
			color: $standartcolor;
		}
	}

	.login-button:before{
		content: '\f502';
	}

	.search-button:before{
		content: '\f002';
	}

	.login-button, .search-button{
		display: block;
		margin: 2px 0;
		color: $standartcolor;
		&:before{
			font-size: 1.2em;
			padding-right: 12px;
		}
		&:hover{
			color: $sanigreen;
			&:before{
				color: $sanigreen;
			}
		}
	}
}

.menuline{
	border-bottom: 1px solid #f2f2f2;
	.logo-wrap{
		display: inline-block;
		position: relative;
		height: 104px;
		max-width: 190px;
		line-height: 101px;
		.logo{
			max-width: 100%;
			vertical-align: middle;
		}
	}
	.top-desc{
		display: table-cell;
		color: #999;
		height: 104px;
		font-size: 14px;
		line-height: 18px;
		vertical-align: middle;
		letter-spacing: 0;
	}
	.main-nav{
		height: 104px;
		vertical-align: middle;
		ul{
			list-style-type: none;
			display: block;
			width: 96%;
			height: 104px;
			margin: 0 auto;
			padding: 0;
			li{
				float: left;
				a{
					font-size: 1em;
					color: $standartcolor;
					font-weight: 700;
					display: inline-block;
					height: 104px;
					padding: 41px 12px;
				}
			}
		}
	}
}

#small-header{
	opacity: 1;
    transition: top .3s linear;
    background: #fff;
    display: block;
    position: fixed;
    box-shadow: 0 1px 5px rgba(0,0,0,.136);
    top: -100px;
    z-index: 996;
    right: 0;
    left: 0;
    &.show{
		position: fixed;
		margin: 0;
		width: 100%;
		top: 0;
		z-index: 996;
		right: 0;
		left: 0;
    }
	.logo{
		max-width: 100%;
		vertical-align: middle;
		height: 62px;
		overflow: hidden;
	}

	.main-nav{
		ul{
			list-style-type: none;
			display: block;
			width: 100%;
			height: 62px;
			margin: 0 auto;
			padding: 0;
			li{
				float: left;
				a{
					font-size: 1em;
					color: $standartcolor;
					font-weight: 700;
					display: inline-block;
					padding: 22px 28px;
				}
			}
		}
	}

	.login-button, .search-button{
		display: block;
		width: 50%;
		padding: 0 10px;
		float: left;
		text-align: center;
		i{
			font-size: 1.8em;
			line-height: 62px;
		}
	}
}