* {
    margin: 0;
    padding: 0; }

html{
    overflow-y: scroll;
}
body {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    margin: 0;
    color: #555; }

a {
    color: #5d9139;
    text-decoration: none; }
a:hover{
    color: #63bd57;
}

p {
    margin: 0 0 20px; }

h1 {
    padding-bottom: 25px;
    font-size: 2.133em;
    line-height: 30px;
    margin: 0 0 18px; }

input:focus {
    outline-color: #5d9139; }

button:focus {
    outline: none; }

/*Классы для выпадалок*/
.dropdown{
    display: none;
    position: absolute;
}

.with-dropdown:hover .dropdown{
    display: block;
}
/*--------------------*/

.region-wrap{
	.current-city{
		&:before{
			
		}
	}
}