.topline{
	position: relative;
    background: 0 0;
    z-index: 13;
    border-bottom: 1px solid #f6f6f6;
    padding-top: 13px;
    padding-bottom: 13px;
	.region-wrap{
		position: relative;
		padding: 0 10px 0 20px;
		height: 18px;
		.current-city{
			font-size: .929em;
			span{
				color: $sanigreen;
			}
			&:before{
				content: "\f3c5";
				position: absolute;
				left: 0;
				top: 2px;
				width: 20px;
				height: 20px;
				padding: 2px 0;
			}
		}
	}

	.phone-wrap{
		padding-right: 12px;
		margin-left: 28px;
		&:before{
			content: '\f879';
			font-size: 0.8em;
		}
		.main-number{
			color: $standartcolor;
			font-weight: 700;
			font-size: .867em;
		}
	}

	.callback{
		display: block;
		margin-top: 2px;
		&:hover{
			color: $standartcolor;
		}
	}

	.login-button:before{
		content: '\f502';
	}

	.search-button:before{
		content: '\f002';
	}

	.login-button, .search-button{
		display: block;
		margin: 2px 0;
		color: $standartcolor;
		&:before{
			font-size: 1.2em;
			padding-right: 12px;
		}
		&:hover{
			color: $sanigreen;
			&:before{
				color: $sanigreen;
			}
		}
	}
}

.menuline{
	border-bottom: 1px solid #f2f2f2;
	.logo-wrap{
		display: inline-block;
		position: relative;
		height: $bmenuheight;
		max-width: 190px;
		line-height: 101px;
		.logo{
			max-width: 100%;
			vertical-align: middle;
		}
	}
	.top-desc{
		display: table-cell;
		color: #999;
		height: $bmenuheight;
		font-size: 14px;
		line-height: 18px;
		vertical-align: middle;
		letter-spacing: 0;
	}
	.main-nav{
		height: $bmenuheight;
		vertical-align: middle;
		ul{
			list-style-type: none;
			display: block;
			width: 96%;
			height: $bmenuheight;
			margin: 0 auto;
			padding: 0;
			li{
				float: left;
				a{
					font-size: 1em;
					color: $standartcolor;
					font-weight: 700;
					display: inline-block;
					height: $bmenuheight;
					padding: 41px 12px;
				}
			}
		}
	}
}

#small-header{
	opacity: 1;
    transition: top .3s linear;
    background: #fff;
    display: block;
    position: fixed;
    box-shadow: 0 1px 5px rgba(0,0,0,.136);
    top: -100px;
    z-index: 996;
    right: 0;
    left: 0;
    &.show{
		position: fixed;
		margin: 0;
		width: 100%;
		top: 0;
		z-index: 996;
		right: 0;
		left: 0;
    }
	.logo{
		max-width: 100%;
		vertical-align: middle;
		height: $smenuheight;
		overflow: hidden;
	}

	.main-nav{
		ul{
			list-style-type: none;
			display: block;
			width: 100%;
			height: $smenuheight;
			margin: 0 auto;
			padding: 0;
			li{
				float: left;
				a{
					font-size: 1em;
					color: $standartcolor;
					font-weight: 700;
					display: inline-block;
					padding: 22px 28px;
				}
			}
		}
	}

	.login-button, .search-button{
		display: block;
		width: 50%;
		padding: 0 10px;
		float: left;
		text-align: center;
		i{
			font-size: 1.8em;
			line-height: $smenuheight;
		}
	}
}

.catalog-drop{
    position: absolute;
    z-index: 1000;
    display: none;
    left: 0;
    &.show, &:hover{
    	display: block;
    }
    &.fix-drop{
    	position: fixed;
    	top: $smenuheight+4px;
    }
    .catalog-drop-inner{
    	border-top: 1px solid #f2f2f2;
		box-shadow: 0 6px 12px rgba(0,0,0,.175);
		background-clip: padding-box;
		background-color: #fff;
		padding: 25px 30px 10px;
		max-height: 485px;
		overflow: auto;
		&::-webkit-scrollbar {
			width:8px;
		}

		&::-webkit-scrollbar-track {
			border-radius:8px;
		}

		&::-webkit-scrollbar-thumb {
			border-radius:8px;
			background:#999;
			border:2px solid #fff;
		}
		.section-title{
			display: block;
			color: $standartcolor;
			font-size: 25px;
			white-space: normal;
			border: none;
			padding: 14px 29px 14px 19px;
			font-weight: 700;
			transition: 0.7s;
			margin: 0 0 10px;
			padding: 0 20px 0 0;
			&:hover{
				color: $sanigreen;
				cursor: pointer;
			}
		}
		.subcat{
			margin: 20px 0;
			.cat-img{
				width: 60px;
				display: block;
				margin: 0 auto;
			}
			.cat-list{
				.sub-section-title{
					display: block;
					font-weight: 700;
					font-size: 13px;
					color: $standartcolor;
					padding: 4px 20px;
					line-height: 1.5em;
					&:hover{
						color: $sanigreen;
						cursor: pointer;
					}
				}
				ul{
					list-style-type: none;
					margin: 0;
					padding: 0;
					max-height: $subheight;
					overflow: hidden;
					transition: max-height .5s linear;
					&.expanded{
						max-height: 1000px;
					}
					li{
						display: block;
						&.lvl4{
							padding-left: 15px;
						}
						a{
							display: block;
							color: $textgrey;
							font-size: 13px;
							padding: 4px 20px;
							line-height: 1.5em;
							font-weight: 400;
							&:hover{
								color: $sanigreen;
								cursor: pointer;
							}
							&.expbutton{
								font-weight: 700;
							}
						}
					}
				}
			}
		}
	}
}

.main-nav{
	.underline-wrap{
    	position: relative;
    	visibility: visible;
    	width: 60%;
    	margin: 0 auto;
	}

	.underline-wrap .hover-underline{
	    background-color: #5d9139;
	    position: absolute;
	    top: -2px;
	    left: 0;
	    height: 2px;
	    right: 100%;
	    opacity: 1;
	    -webkit-transition: right .15s ease-out;
	    -o-transition: right .15s ease-out;
	    transition: right .15s ease-out;
	}

	li:hover > .underline-wrap .hover-underline{
    	right: 0;
	}
}

#search-bar{
	position: fixed;
	background: #fff;
    top: -200px;
    z-index: 3000;
    transition-duration: .5s;

    &.show{
		top: 0;
    }

	.search-form{
		padding: 0 200px 0 80px;
		font-size: 28px;
		height: 132px;
		background: 0 0;
		border: none;
		border-radius: 0;
	}
	.search-input{
		padding: 0 200px 0 80px;
		font-size: 28px;
		height: 132px;
		background: 0 0;
		border: none;
		border-radius: 0;
		color: $darkgreytext;
		display: block;
		width: 100%;
		vertical-align: top;
		line-height: 18px;
		font-family: inherit;
	}

	.btn-search{
		padding: 12px 25px;
		font-size: 1em;
		position: absolute;
		right: 58px;
		top: 45px;
	}

	.close-button{
		position: absolute;
		display: block;
		font-size: 24px;
		right: 18px;
		top: 65px;
		width: 18px;
		height: 18px;
		margin: -8px 0 0 -15px;
		min-width: 16px;
		min-height: 16px;
		line-height: 18px;
		z-index: 3001;
	}
}