.slider-wrapper{
	padding: 80px 56px 29px 56px;
	position: relative;
	.product-slider .item img{
		width: auto;
	}
	.product-slider{
		.owl-item{
			padding: 35px;
		}		
		.owl-nav{
			position: absolute;
			top: 45%;
			width: 100%;
			.owl-prev{
				left: 0;
				position: absolute;
			}
			.owl-next{
				right: 0;
				position: absolute;
			}
			.owl-prev, .owl-next{
				width: 35px;
			    height: 35px;
			    border-radius: 50%;
			    span{
				    font-size: 40px;
				    line-height: 27px;
				    display: block;
				    position: relative;
				    height: 35px;
				    top: 0;
				    color: $standartcolor;
			    }
			}
			.owl-prev:hover, .owl-next:hover{				
				background-color: $sanigreen;
				span{
					color: #fff;
				}
			}
		}
	}
	.button.secondary{
		display: inline-block;
		padding-right: 5px;
	}
	.button.secondary img{
		max-width: 100px;
	} 
	.slider-nav-wrap{
		display: block;
		width: 100%;
		overflow: hidden;
		text-align: center;
		margin-top: 15px;
	}
	.loop-fancybox{
		position: absolute;
		left: 0; 
		right: 0; 
		margin-left: auto; 
		margin-right: auto; 
		width: 45px;
		height: 45px;
		top: 43%;
		z-index: 5;
		border-radius: 50%;
		background-color: $sanigreen;
		text-align: center;
		line-height: 48px;
		display: none;
		transition: 0.2s;
		i:before{
			color: #fff;
			font-size: 20px;
		}
	}
}
.slider-wrapper:hover .loop-fancybox{
	display: block;
	cursor: pointer;
}