.sub-sections-wrap{
	.sub-section{
		text-align: center;
		border: 1px solid #f2f2f2;
		padding: 30px 10px;
		transition: all ease .2s;
		margin: 0 0 -1px -1px;
		&:hover{
			border-color: #fff;
			box-shadow: 0 0 20px 0 rgba(0,0,0,.15);
		}
		.img-wrap{
			width: 120px;
			height: 120px;
			line-height: 120px;
			text-align: center;
			margin: 0 auto 22px;
		}
		.name{
			a{
				font-size: 1em;
				color: $standartcolor;
				font-weight: 700;
			}
		}
	}
	margin: 0 0 30px;
}

.sort-row{
	padding: 0 0 21px;
    position: relative;
	.sort-item{
		display: block;
		color: $lightgreytext;
		float: left;
		margin: 0 20px 0 0;
		i.fas:before{
			color: $lightgreytext;
			font-size: 0.7em;
		}

		&:hover{
			color: $darkgreytext;
			cursor: pointer;
			i.fas:before{
				color: $textgrey;
			}
		}
	}
}

.products-list{
	.product-item{
		text-align: center;
		background: #fff;
		overflow: hidden;
		-webkit-transition: box-shadow ease-out .2s;
		-moz-transition: box-shadow ease-out .2s;
		-o-transition: box-shadow ease-out .2s;
		transition: box-shadow ease-out .2s;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		white-space: normal;
		padding: 20px 19px 26px 20px;
		box-shadow: 0 0 0 1px #f2f2f2 inset;
		margin: 0 -1px 0 0;
		height: 462px;
		
		&:hover{
			z-index: 60;
			box-shadow: 0 0 20px rgba(0,0,0,.1);
			border: none;

			.footer_button{
				display: block;
				opacity: 1;
				visibility: visible;
				margin: 11px 0 0;
				height: auto;
			}
		}

		.footer_button {
			display: none;
			visibility: hidden;

			.sku_props {
				margin: 0 0 2px;
			}

			.counter_wrapp {
			    white-space: normal;
			    margin-left: -6px;
			    margin-right: -6px;
				margin-bottom: 0;
				padding-top: 0;
				font-size: 0;
				padding: 15px 0 0;

				.counter_block{
					box-sizing: border-box;
					border: 1px solid #f3f3f5;
					background: #f3f3f5;
					font-size: 0;
					width: 84px;
					margin: 11px 5px 0;
					white-space: nowrap;
					display: inline-block;
					vertical-align: top;
					border-radius: 2px;
					-webkit-touch-callout: none;
					-webkit-user-select: none;
					-khtml-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					-o-user-select: none;
					user-select: none;
					height: 36px;
					margin-left: 3px;
					margin-right: 3px;

					.minus, .plus {
					    font-size: 0;
					    line-height: 40px;
					    height: 34px;
					    width: 24px;
					    display: inline-block;
					    cursor: pointer;
					    vertical-align: top;
					}
					&>span:before {
						opacity: .7;
						display: inline-block;
						content: "";
						width: 24px;
						height: 34px;
						background: url(/bitrix/templates/aspro_next/images/ai.png) -80px -191px no-repeat;
						vertical-align: middle;
					}

					&>span.plus:before {
					    background-position: -54px -191px;
					}

					input[type=text] {
					    width: 34px;
					    border: 0;
					    border-left: 1px solid #f3f3f5;
					    border-right: 1px solid #f3f3f5;
					    background: #f3f3f5;
					    color: #666;
					    font-size: 13px;
					    height: 34px;
					    border-radius: 0;
					    text-align: center;
					    line-height: 13px;
					    padding: 7px 3px;
					}
				}

				.button_block {
				    display: inline-block;
				    vertical-align: top;
				    margin: 11px 5px 0;
				    margin-left: 3px;
					margin-right: 3px;
				}
			}
		}

		.img-wrapper, .img-wrapper a{
			min-width: 70px;
			height: 170px;
			line-height: 170px;
			margin: 0 auto;
			padding: 0;
			vertical-align: middle;
			text-align: center;
			zoom: 1;
			display: block;
			&:hover{
				cursor: pointer;
			}
		}

		.img-wrapper{
			margin: 0 auto 10px;
			position: relative;
			img{
				position: absolute;
				margin: auto;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				border: 0;
				vertical-align: middle;
			}

			.labels{
				line-height: 12px;
				max-width: 80%;
				top: 0;
				left: 0;
				text-align: left;
				.label{
					margin-top: 5px;
					font-size: 10px;
				}
			}
		}

		.product-title{
			overflow: hidden;
			text-overflow: ellipsis;
			text-overflow: -o-ellipsis-lastline;
			display: -webkit-box;
			-webkit-line-clamp: 50;
			-webkit-box-orient: vertical;
			white-space: normal;
			height: 20px;
		}

		.stock-wrap{
			.item-stock{
				font-size: 12px;
				display: inline-block;
				margin: 0 6px;
				&.instock{i:before{color:$instock;}}
				&.notstock{i:before{color:$instock;}}
				span{
					display: inline-block;
					vertical-align: top;
					font-size: 12px;
					color: $textgrey;
				}
			}
			.article{
				display: inline-block;
				margin: 0 6px;
				color: $lightgreytext;
				font-size: 12px;
			}
		}

		.price-block{
			margin: 11px 0 0;
			.price{
				font-size: 18px;
				font-weight: 700;
				line-height: 15px;
				.old-price{
					font-size: 14px;
					line-height: 15px;
					font-weight: 400;
					color: $lightgreytext;
					text-decoration: line-through;
				}
			}
			.discount-wrap{
				.sale{
					display: inline-block;
					margin-right: 5px;
					background-color: $lred;
					color: #fff;
					line-height: 12px;
					letter-spacing: 0.5px;
					text-transform: uppercase;
					border-radius: 2px;
					padding: 4px 10px 5px;
					font-size: 10px;
					margin-top: 10px;
					&.save{
						background-color: $lyellow;
						color: $darkgreytext;
					}
				}
			}
		}

		.sale-block{
			margin: 10px 0 0;
			white-space: nowrap;
			font-size: 0;
			.count_d_block,.quantity_block{
				display: inline-block;
				vertical-align: top;
				font-size: 0;
			}

			.title{
				font-size: 11px;
				line-height: 15px;
				color: $textgrey;
				margin: 0 0 5px;
			}

			.values{
				margin: 0 0 5px;
				line-height: 15px;
				font-size: 0;
			}

			.values .item {
				background: $counterbg;
				border-radius: 0;
				display: inline-block;
				vertical-align: top;
				font-weight: 700;
				font-size: 15px;
				width: 40px;
				height: 43px;
				padding: 7px 0 0;
				text-align: center;
				position: relative;
				margin: 0;
			}

			.values.countdown .item {
			    width: 46px;
			}

			.values.countdown .item {
				width: 40px;
			}

			.quantity_block{
				width:46px;
				display: none;
			}

			.values .item:after, .values .item:before {
				content: "";
				background: #333;
				width: 3px;
				height: 3px;
				display: block;
				position: absolute;
				right: -1px;
				border-radius: 6px;
				z-index: 10;
			}

			.values .item:before {
				top: 15px;
			}

			.values .item:after {
				bottom: 15px;
			}

			.values .item .text {
				opacity: .6;
				font-weight: 400;
				font-size: 12px;
				display: block;
				width: auto;
			}

			.countdown{
				width: 120px;
				height: 43px;
				display: block;
				overflow: hidden;
				border-radius: 2px 0 0 2px;
				color: $standartcolor;
			}

			.values .item:last-child {
				margin: 0;
			}

			.values .item:last-child:after, .values .item:last-child:before{display:none}
			.values .item:nth-child(3):after, .values .item:nth-child(3):before{display:none}
			
			.quantity_block .values .item {
			    background-color: $sanigreen;
				color: #fff;
				width: 46px;
			}

			.quantity_block .values .item {
			    border-radius: 0 2px 2px 0;
			    overflow: hidden;
			}
		}
	}
}

.rating{
	height: 20px;
    margin: 0 0 9px;
	.star-wrap{
		display: inline-block;
		margin: 6px auto 0;
		&.small{
			font-size: 84%;
		}
		.star{
			width: 19px;
			height: 16px;
			overflow: hidden;
			float: left;
			line-height: 16px;
			i:before{
				color: $star;
			}
			&.active i:before, &.hover i:before{
				color: $activestar;
			}
			&:hover{
				cursor: pointer;
			}
		}
	}
}