/*Colors*/
$sanigreen: #5d9139;
$sanihovergreen: #63bd57;
$standartcolor: #1d2029;
$textgrey: #666;
$darkgreytext: #444;
$lightgreytext: #999;
$graybackground: #f5f5f5;
/*Stars*/
$activestar: #FF9900;
$star: #b6b5b5;
/*Stock*/
$instock: #008b00;
$out: #CD0000;
/*Labels*/
$lred: #e32330;
$lyellow: #ffd02e;
$counterbg: #eee;

/*Sizes*/
$bmenuheight: 104px;
$smenuheight: 62px;
$menuitemheight: 27.33px;
$show-items: 4;
$subheight: ($menuitemheight * $show-items);