/*Colors*/
$sanigreen: #5d9139;
$sanihovergreen: #63bd57;
$standartcolor: #1d2029;
$textgrey: #666;
$darkgreytext: #444;
$lightgreytext: #999;
/*Stars*/
$activestar: #FF9900;
$star: #b6b5b5;

/*Sizes*/
$bmenuheight: 104px;
$smenuheight: 62px;
$menuitemheight: 27.33px;
$show-items: 4;
$subheight: ($menuitemheight * $show-items);