/node_modules/*
!/node_modules/bootstrap
/node_modules/bootstrap/*
!/node_modules/bootstrap/scss
/node_modules/bootstrap/scss/*
!/node_modules/bootstrap/scss/_variables.scss

/empty
/dist
/app/index.html
/app/css/*
!/app/css/libs.css



!/app/js/main.js